<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Rest.li Explorer</h1>
    <p>This app was made as a test client for the Rest.li api backend.  Its a very plain example and returns static data in the form of Google Map markers that can be tested using the buttons below.</p>
    <p><a class="btn btn-primary btn-lg" role="button" href="https://linkedin.github.io/rest.li/">Learn more »</a></p>
  </div>
</div>
<googlemap></googlemap>
