<ngui-map center="Omaha, Nebraska" 
          style="width:100%;height:400px;"
          zoom = 4
          gestureHandling = "greedy"
          disableDefaultUI = true
          (mapReady$)="onMapReady($event)">
</ngui-map>
<div id="mapmenu">
  <ul>
      <li><a class="btn btn-primary btn-lg" style="width:47px;" (click)="this.setMarkers(1)" title="HQ"><i class="fa fa-map-marker fa-inverse"></i></a></li>
      <li><a class="btn btn-primary btn-lg" style="width:47px;" (click)="this.setMarkers(2)" title="SF Office"><i class="fa fa-map-marker fa-inverse"></i></a></li>
      <li><a class="btn btn-primary btn-lg" style="width:47px;" (click)="this.setMarkers(3)" title="NYC Office"><i class="fa fa-map-marker fa-inverse"></i></a></li>
      <li><a class="btn btn-primary btn-lg" style="width:47px;" (click)="this.setMarkers(4)" title="Omaha Office"><i class="fa fa-map-marker fa-inverse"></i></a></li>
      <li><a class="btn btn-primary btn-lg" style="width:47px;" (click)="this.setMarkers(5)" title="Microsoft HQ"><i class="fa fa-map-marker fa-inverse"></i></a></li>
      <li><a class="btn btn-primary btn-lg" style="width:47px;" (click)="this.removeMarker()" title="Clear All"><i class="fa fa-ban fa-inverse"></i></a></li>
  </ul>
</div>