/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.jumbotron {
    background-image: url("assets/media/jumboimage.jpg");
    color: #ccc;
}
html{
    height: 100%;
}
body{
    background-image: linear-gradient(#ccc, #333);
    height: 100%;
}

